* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    min-height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    background: linear-gradient(135deg, #4facfe, #00f2fe);

    padding: 20px;
}

.weather-app {
    width: 100%;
    max-width: 500px;
}

/* Search Box */

.search-box {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

.search-box input {
    flex: 1;
    padding: 15px;

    border: none;
    border-radius: 12px;

    font-size: 16px;
    outline: none;
}

.search-box button {
    padding: 15px 20px;

    border: none;
    border-radius: 12px;

    background: #222;
    color: white;

    font-size: 16px;
    cursor: pointer;
}

.search-box button:hover {
    background: #444;
}


/* Weather Card */

.weather-card {
    background: rgba(255, 255, 255, 0.2);

    backdrop-filter: blur(15px);

    border-radius: 25px;

    padding: 30px;

    color: white;

    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
}

.weather-card h1 {
    font-size: 32px;
    margin-bottom: 5px;
}

.weather-card > p {
    opacity: 0.8;
}


/* Main Weather */

.weather-main {
    display: flex;
    align-items: center;
    gap: 25px;

    margin: 30px 0;
}

.weather-icon {
    font-size: 70px;
}

#temperature {
    font-size: 50px;
    margin-bottom: 5px;
}

#condition {
    font-size: 18px;
}


/* Weather Details */

.weather-details {
    display: grid;

    grid-template-columns: 1fr 1fr;

    gap: 15px;
}

.detail {
    background: rgba(255, 255, 255, 0.15);

    padding: 18px;

    border-radius: 15px;

    text-align: center;
}

.detail span {
    font-size: 25px;
}

.detail p {
    margin: 8px 0;

    font-size: 14px;

    opacity: 0.8;
}

.detail h3 {
    font-size: 18px;
}


/* Mobile */

@media (max-width: 500px) {

    .weather-card {
        padding: 20px;
    }

    .weather-card h1 {
        font-size: 26px;
    }

    #temperature {
        font-size: 40px;
    }

    .weather-icon {
        font-size: 55px;
    }

}